*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
:root{
    --secondary:#1f2937;
    --primary:#374151;
    --gray:#6B7280;
    --light:#eee;
    --pink:#ec4899;
    --purple:#8B5CF6;
    --green:#80FF72;
    --blue:#7EE8FA;
}
body{
    background-color: var(--primary);
    color: var(--light);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}
header{
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
}
.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
}
header h1{
    font-family: 'Ruluko', sans-serif;
    color: var(--gray);
    font-size: 3.5rem;
}

#form
{
    display: flex;
}
.input-main,.input-submit{
    outline: none;
    border:none;
}
.input-main
{   margin:1em;
    flex:1 1 0%;
    width:50%;
    font-size: 1.5em;
    padding:0.5em;
    border-radius:0.2rem;
    background-color: var(--secondary);
    color:var(--light);
}
.input-main::placeholder
{  
    color:var(--gray);
}
.input-submit:hover
{
    opacity:0.8;
}
.input-submit:active
{
    opacity:0.6;
}

.input-submit
{   margin:1em;
    flex:1 1 0%;
    font-family: 'Inter', sans-serif;
    font-size: 1.45em;
    padding:0.5em;
    background-color: var(--purple);
    color:var(--light);
    cursor: pointer;
    border-radius: 12px;
    transition: 0.4s;
    font-weight: 700;

}

main{
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
    width:100%;
}

.task-list h2{
    
    margin-right: 50rem;
    font-family: 'Ruluko', sans-serif;
    color: var(--gray);
    font-size: 1.5 rem;
    margin-bottom: 1em;
    
}
.task-list
{
    display: flex;
    justify-content:center;
    flex-direction: column;
}

.task-section .task-column
{
   display:flex;
   justify-content:space-between;
   background-color: rgba(22, 3, 3, 0.523);
   padding:1rem;
   margin:auto;
   border-radius: 1rem;
   margin-bottom: 1rem;
   width:60%;
}
   
.task-column .task-row{
   flex:1 1 0%;
}
.task-section .task-column input,button{
    outline:none;
    border:none;
    background:none;
    appearance: none;
}
.task-row{
    flex:1 1 0%;
    justify-content: flex-start;
}
.task-column .task-row .task
{
    color:var(--light);
    font-size: 1.125rem;
    width:100%; 
    display:block;
    transition: 0.4s;
}
.task-column
{
    margin:1em;
    padding:1em;
    transition: box-shadow .3s;
}
.task-column:hover{
    box-shadow: 0 0 11px rgba(245,255,255,.6); 

}
.task-row{
    display:flex;
    font-weight: 500;


}

.task-column .task-row .task:not(:read-only)
{
    color:var(--pink);
}

.change button
{
    margin:0 1em;
    font-size: 1.1em;
    font-weight: 700;
    
}
.change .edit
{
    background-image: linear-gradient(to right,#7EE8FA,#EEC0C6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    padding:0.2em;
}

.change .delete
{
   
    color: crimson;
}
.change button:hover
{
    opacity:0.8;
}
.change button:active
{
    opacity:0.6;
}
.checkbox svg{
    fill:var(--blue);
}
.checkboxchange svg
{
    fill:#84fa84;
}
@media(min-width:1600px)
 {
    .task-list h2
    {
        margin-right: 0em;
        margin-left:0em;
    }
 }
@media(max-width:1280px)
{
    header{
        width:100%;
    }
}
@media(max-width:768px)
{   
    header{
        width:95%;
        padding:20px;
        gap:10px;
        align-items: center;
        flex-direction: column;
    }
    .title svg
    {
        visibility: hidden;
    }
    .task-list{
        width:100%;
        display:flex;
        flex-direction: column;
    }
    .task-list h2{
        margin:auto;
        margin-bottom: 1em;
    }
    .task-column{
        width:100%;
        display:flex;
        flex-direction: column;
    }
    
    .change{
        width:100%;
        display:flex;
        flex-direction: column;
        margin-top: 0.5em;
    }
    .
    .task-section .task-column .change 
    {
        visibility:hidden;
    }
    .task-section .task-column .change{
        display:flex;
        justify-content: space-between;
    }
    task-section .task-column .change .chckbox
    {
        visibility:visible;
        justify-content: flex-end;
    }
    .text
    {
        flex:1 1 0;
    }
    
}

@media(max-width:480px){
    #input input{width:74%;}
}
@media(max-width:320px){
    #input input{width:60%;}
}